.header{
    background-image: url(images/head-background.jpg);
    background-size: cover;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-top{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white; 
  }
  .header-top p{
    background-color: #49A333;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    align-self: flex-start;
    padding: 10px;
    
  }
  .header-bot{
    padding-bottom: 80px;
    padding-top: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
    align-self: flex-start;
    width: 300px;
    background-color: #678b37;
    border: 6px solid #dce085;
  }
  .header-bot form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-bot h3{
    color: white;
    font-family: 'arial', Times, serif;
    font-style: italic;
    text-align: center;


  }
  .header-bot h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
  }
  .header-bot form input{
    background: none;
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    border-top: rgba(0, 0, 0, 0.473);
    border-bottom: 1px solid rgba(245, 245, 245, 0.441) ;
    color: rgba(255, 255, 255, 0.904);
    text-decoration: solid;
  }
  .header-bot input:-ms-input-placeholder{
    color: white;
  }
  
  .content-white{
    background-color: white;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content-white .ele{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .content-white .ele img{
    align-self: flex-start;
    border: 2px dashed #49A333;
    border-radius: 5%;
    width: 48%;
  }
  
  .content{
    width: 48%;
  }
  
  .content .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #2d8c15;
  }
  
  .content .desc{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:inherit;
  }
  
  .mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm-green
  
  .content-green{
    background-color: #81AF53;
    min-width: fit-content;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .content-green div{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .tieude{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1.5px solid white;
    font-size: 20px;
  }
  
  .footer{
    background-color: #dce085;
    min-width: 200px;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  
  .dki{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #2a6e01;
    font-size: 21px;
  }
  
  .formdki{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .formdki input{
    border: none;
    border-radius: 0%;
    margin: 5px;
    height: 20px;
  }
  
  .formdki .col{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .cs-input::placeholder { 
    color: rgb(0, 0, 0) !important;
    opacity: 1; 
  }
  .cs-input:-ms-input-placeholder { 
    color: rgb(0, 0, 0) !important;
  }
  .cs-input::-ms-input-placeholder { 
    color: rgb(0, 0, 0) !important;
  }
  p{
    font-weight: bold;
  }